<?xml version="1.0" encoding="utf-8"?>
<ods version="0.2">
  <host name="BBK_spoorobjecten" type="ArcgisRest" url="http://mapservices.prorail.nl/ArcGIS/rest/services/BBK_spoorobjecten/MapServer"/>
  <host name="BBK_overige_objecten" type="ArcgisRest" url="http://mapservices.prorail.nl/ArcGIS/rest/services/BBK_overige_objecten/MapServer"/>
  <layer name="Prorail Spoor">
    <datasource host="BBK_spoorobjecten" feature="Spoor/36"/>
    <datasource host="BBK_spoorobjecten" feature="Wisselbeen/37"/>
  </layer>
  <layer name="Prorail Perronrand">
    <datasource host="BBK_spoorobjecten" feature="Perron/21"/>
  </layer>
  <layer name="Prorail Overig spoor">
    <datasource host="BBK_overige_objecten" feature="Spoor - geen trein/3"/>
  </layer>
  <layer name="Prorail Kunstwerk">
    <datasource host="BBK_overige_objecten" feature="Kunstwerk/6"/>
  </layer>
  <map feature="BBK_spoorobjecten:Spoor/36">
    <geometry map-to="WAY"/>
    <tag key="railway" value="rail"/>
    <tag key="gauge" value="1435"/>
    <tag key="electrified" value="contact_line"/>
    <tag key="voltage" value="1500"/>
    <tag key="frequency" value="0"/>
    <tag key="source" value="Prorail"/>
  </map>
  <map feature="BBK_spoorobjecten:Wisselbeen/37">
    <geometry map-to="WAY" mapper="org.openstreetmap.josm.plugins.nlgeo.prorail.WisselGeometryMapper"/>
    <tag key="railway" value="rail"/>
    <tag key="gauge" value="1435"/>
    <tag key="electrified" value="contact_line"/>
    <tag key="voltage" value="1500"/>
    <tag key="frequency" value="0"/>
    <tag key="source" value="Prorail"/>
  </map>
  <map feature="BBK_spoorobjecten:Perron/21">
    <geometry map-to="WAY"/>
    <tag key="source" value="Prorail"/>
  </map>
  <map feature="BBK_overige_objecten:Spoor - geen trein/3">
    <geometry map-to="WAY"/>
    <tag key="railway" value="rail"/>
    <tag key="source" value="Prorail"/>
  </map>
  <map feature="BBK_overige_objecten:Kunstwerk/6">
    <geometry map-to="WAY"/>
    <tag key="source" value="Prorail"/>
  </map>

</ods>